@use "./modules/constants.scss" as styles;

@use "./modules/menus.scss";
@use "./modules/header.scss";
@use "./modules/footer.scss";
@use "./modules/layout.scss";
@use "./modules/instagram-feed.scss";
@use "./modules/front-page.scss";
@use "./modules/buttons.scss";
@use "./modules/events.scss";
@use "./modules/page.scss";
@use "./modules/mitmachen.scss";
@use "./modules/support-us.scss";
@use "./modules/about.scss";
@use "./modules/teams.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Rostack";
  src: url(../fonts/rostack.otf) format("otf");
}

@font-face {
  font-family: "Chinese Rocks";
  src: url(../fonts/chinese_rocks.ttf) format("ttf");
}

@mixin accent-font {
  font-family: "Chinese Rocks";
  letter-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  box-sizing: border-box !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

#content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

section {
  padding: 80px 150px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 80px !important;
  background: rgba(0, 0, 0, 0.64);
}

h2 {
  font-size: 60px !important;
}

h1,
h2 {
  font-family: "Rostack";
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400 !important;
  line-height: 80% !important;
}

p {
  font-size: styles.$font-md !important;
}

.paragraph {
  line-height: 1.5 !important;
}
