@use "./modules/menus.scss";
@use "./modules/header.scss";
@use "./modules/footer.scss";
@use "./modules/layout.scss";
@use "./modules/instagram-feed.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

#content {
  display: flex;
  flex-grow: 1;
}

h1,
h2 {
  text-transform: uppercase;
  font-size: 40px !important;
}
