@use "constants" as styles;

#about-roller-derby {
  background-color: styles.$light-yellow;
}

.about-roller-derby-content img {
  align-self: flex-start;
  width: 400px;
}

.about-interesting-links {
  margin-top: 32px;
}

.about-interesting-links a {
  transition: opacity 0.4s;
}

.about-interesting-links img {
  align-self: flex-start;
  width: 260px;
  border-radius: 20px;
}

.about-rdk-content p {
  width: 90%;
}
