@use "constants" as styles;

#about-roller-derby {
  background-color: styles.$light-yellow;
}

.about-roller-derby-content img {
  width: 400px;
  height: min-content;
}

.about-interesting-links {
  margin-top: 32px;
}

.about-interesting-links img {
  width: 260px;
  border-radius: 20px;
  transition: opacity 0.4s;
}

.about-interesting-links img:hover {
  opacity: 70%;
}

.about-rdk-content p {
  width: 90%;
}
