@use "constants" as styles;

@mixin button {
  padding: 18px 32px;
  border-radius: 10px;
  text-transform: uppercase;
  color: styles.$soft-black;
  width: max-content;
  transition: background-color, 0.3s;
  font-family: "Rostack";
  font-size: 26px;
  letter-spacing: 1px;
}

.primary-button-white {
  @include button;
  background-color: white;
}

.primary-button-yellow {
  @include button;
  background-color: styles.$yellow;
}

.link-button {
  max-width: max-content;
  display: flex;
  gap: 4px;
  font-size: styles.$font-md;
  font-weight: bold;
  border-bottom: 1px solid black;
}

// .primary-button-white:hover,
// .primary-button-yellow:hover {
//   background-color: white;
//   color: #9747ff;
//   border: 2px solid #9747ff;
// }
