@use "constants" as styles;

.menu-footer {
  padding: 46px 40px;
  background: styles.$yellow;
  gap: 80px;
}

.menu-section-footer {
  font-size: styles.$font-sm;
}
.menu-section-footer p {
  font-size: styles.$font-sm !important;
}

#menu-presse,
#menu-interesting-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.credits-footer {
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background: styles.$dark-grey;
  color: white;
  padding: 20px 40px;
  font-size: styles.$font-xs;
}

.credits-footer p {
  font-size: styles.$font-xs !important;
}
