@use "constants" as styles;

.menu-footer {
  padding: 46px 40px;
  background: styles.$yellow;
  gap: 80px;
  flex-wrap: wrap-reverse;
}

.menu-section-footer {
  font-size: styles.$font-sm;
}

.menu-section-footer p {
  font-size: styles.$font-sm !important;
}

#menu-presse-1,
#menu-interesting-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo-container {
  justify-content: center;
  flex-wrap: wrap;
}
.footer-logo {
  align-self: flex-start;
  width: 200px;
  height: auto;
}

.credits-footer {
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background: styles.$dark-grey;
  color: white;
  padding: 20px 40px;
  font-size: styles.$font-xs;
}

.credits-footer a {
  color: white;
}

.credits-footer p {
  font-size: styles.$font-xs !important;
}

@media only screen and (max-width: 1100px) {
  .mobile-hide {
    display: none !important;
  }
}
