@use "constants" as styles;

#hero-section {
  position: relative;
  width: 100%;
  height: 840px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 40px;

  color: white;
  overflow: hidden;
}

.background-image {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}

.action-buttons-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

#news-section h2 {
  text-align: center;
}

#team-section {
  flex-direction: row !important;
  background-color: styles.$light-yellow;
}

.team-section-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.team-section-fotos {
  position: relative;
  width: 400px;
  flex: 2;
}

#horizontal-scroll {
  overflow: auto;
  scrollbar-color: styles.$yellow !important;
  white-space: nowrap;
  display: flex;
  gap: 20px;
}

.member-foto {
  width: 260px;
  display: inline-block;
  border-radius: 6px;
}

.scroll-icon {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  right: 0;
  background-color: styles.$yellow;
  border-radius: 100%;
  height: 40px;
  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.scroll-icon i {
  font-weight: bold;
}

#events-section {
  position: relative;
  gap: 40px;
  overflow: hidden;
}
#events-section h2 {
  text-align: end;
  color: white;
}

#sponsors-section {
  display: flex;
  gap: 60px;
}
#sponsors-section h2 {
  text-align: center;
}

.sponsors-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.sponsors-list img {
  width: 240px;
  height: min-content;
  align-self: center;
}

.sponsors-section-button {
  align-self: center;
}

.yellow-highlight {
  color: styles.$yellow !important;
}
