header {
  position: absolute;
  z-index: 10;
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  height: 100px;

  background: rgba(0, 0, 0, 0.64);
  color: white;
}

.logo {
  position: absolute;
  top: 20px;
}

.logo-section {
  display: flex;
  gap: 20px;
}

.social-header {
  position: relative;
  left: 180px;
}
.social-header span {
  width: max-content;
  height: auto;
  font-size: 26px;
}

.main-menu-header {
  display: flex;
  gap: 64px;
  text-transform: uppercase;
  font-family: "Rostack";
  font-weight: 400 !important;
  letter-spacing: 1.5px;
  font-size: 24px;
}
