#sbi_images {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  grid-row: auto;
  gap: 40px !important;
}

//TODO: grid wrap! -> posts should appear under
//TODO: responsiveness
