#sbi_images {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, 80%) !important;
  gap: 40px !important;
  justify-content: center !important;
}

//TODO: grid wrap! -> posts should appear under
//TODO: responsiveness
