@use "constants" as styles;

.menu {
  list-style-type: none;
}

.hamburger-menu-icon {
  display: none;
  font-size: 36px;
}

.hamburger-menu-icon:hover,
a:hover,
.close-button:hover {
  cursor: pointer;
}

.main-menu-header {
  gap: 64px;
  text-transform: uppercase;
  font-family: "Fugaz One";
  font-weight: 200 !important;
  font-size: styles.$font-md;
}

.menu-2025-main-menu-container,
.main-menu-header,
.menu-item {
  height: 100%;
}

.menu-item {
  display: flex;
  align-items: center;
}

.main-menu-header-item .sub-menu {
  display: none;
  position: absolute;
  z-index: 5;
  top: 80px;
  transform: translateX(-20px);

  flex-direction: column;
  gap: 22px;
  background: styles.$soft-black;
  list-style-type: none;
  padding: 20px;
}

.mobile-menu {
  z-index: 20;
  display: none;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  width: 100vw;
  height: 100vh;

  padding: 20px 40px;
  text-transform: uppercase;
  font-family: styles.$accent-font;
  font-weight: 400 !important;
  font-size: 20px;
}

.close-button {
  text-align: right;
  font-size: 36px;
}

.main-menu-mobile {
  align-items: center;
  gap: 40px;
  color: white;
}

.mobile-menu-main-item {
  font-size: 32px;
}

.main-menu-mobile li .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 24px !important;
}

.mobile-menu-social-item,
.mobile-menu-social-item a,
.mobile-menu-social-item .dashicons {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-item .dashicons {
  font-size: 40px !important;
}

.show {
  display: flex !important;
}

//TEXT COLORS MENU
nav a,
.social-header a {
  color: white;
  transition: color 0.4s;
}

.main-menu-header a:hover {
  color: styles.$yellow !important;
}

.main-menu-header .current-menu-item > a {
  color: styles.$yellow;
}

@media only screen and (max-width: 1100px) {
  .menu-2025-main-menu-container {
    display: none;
  }
  .hamburger-menu-icon {
    display: block;
  }
}
