@use "constants" as styles;

.team-links {
  justify-items: center;
  align-self: center;
  display: grid !important;
  width: 86%;
  grid-template-columns: 1fr 1fr !important;
  grid-row: auto;
  row-gap: 60px;
  column-gap: 80px;
}

#team-links a {
  width: 100%;
  height: 250px;
  transition: opacity 0.4s;

  display: flex;
  align-items: end;
}

#team-links a p {
  width: 100%;
  padding: 4px 16px;
  background: rgba(0, 0, 0, 0.64);
  color: white;
  text-transform: uppercase;
  font-family: styles.$accent-font;
  font-size: styles.$font-lg !important;
  font-weight: 400;
  align-self: end;
}

#team-links a:hover {
  opacity: 70%;
}

.team-link {
  position: relative;
  overflow: hidden;
}

#team-title {
  padding-top: 240px;
  gap: 40px;
}

.members {
  justify-items: center;
  display: grid !important;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
  grid-row: auto;
  row-gap: 40px;
}
